<app-frame1>
  <app-container style="--max-content-width:1000px;--content-margin:24px;">
    <div class="content">
      <div class="name-section">
        <div class="name">
          <h2>BHUWAN POUDEL</h2>
          <h4>Front End Developer</h4>
          <p class="contacts">
            <span>+45 81916893</span>
            <span>@bkspoudel@gmail.com</span>
            <span>Copenhagen, Denmark</span>
          </p>
        </div>
        <div class="each-section">
          <h2>SUMMARY</h2>
          <p class="header"></p>
          <p class="sub-header"></p>
          <p class="description">
            Front-end developer with 2+ years of experience designing and building responsive web design and mobile apps in the financial industry. Proficient with CSS and JS Frameworks, with extensive knowledge of UX and user psychology. Notable achievements include boosting the conversion rate of an existing website by 80% with improved code and design.
          </p>
        </div>

      </div>
      <div class="skill-section">
        <div class="image">
          <img src="../../../assets/images/my-image.png" alt="">
        </div>
        <div class="skill">
          <h4 class="header">Education</h4>
          <p class="sub-header">Master of Science in Information Systems</p>
          <p class="description">Norwegian University of Science and Technology</p>
          <p class="date">2011 - 2013</p>
        </div>

        <div class="skill">
          <h4 class="header">Education</h4>
          <p class="sub-header">Master of Science in Information Systems</p>
          <p class="description">Norwegian University of Science and Technology</p>
          <p class="date">2011 - 2013</p>
        </div>

        <div class="skill">
          <h4 class="header">Education</h4>
          <p class="sub-header">Master of Science in Information Systems</p>
          <p class="description">Norwegian University of Science and Technology</p>
          <p class="date">2011 - 2013</p>
        </div>

        <div class="skill">
          <h4 class="header">Education</h4>
          <p class="sub-header">Master of Science in Information Systems</p>
          <p class="description">Norwegian University of Science and Technology</p>
          <p class="date">2011 - 2013</p>
        </div>

        <div class="skill">
          <h4 class="header">Education</h4>
          <p class="sub-header">Master of Science in Information Systems</p>
          <p class="description">Norwegian University of Science and Technology</p>
          <p class="date">2011 - 2013</p>
        </div>
      </div>
    </div>
  </app-container>
</app-frame1>
