<app-frame1>
  <app-container>
    <div class="content">
      <div class="name-section">
        <div class="name">
          <h2>BHUWAN POUDEL</h2>
          <h4>Front End Developer</h4>
          <div class="contacts">
            <a class="icon" href="tel: +45 81916893"> <span [smSvgIcon]="'phone'"></span> +45 81916893</a>
            <a class="icon" href="mailto: bkspoudel@gmail.com"> <span [smSvgIcon]="'email'"></span> bkspoudel@gmail.com</a>
            <p class="icon"> <span [smSvgIcon]="'location'"></span> Copenhagen, Denmark</p>
            <a class="icon" title="download cv" href="../../../assets/pdf/frontend.pdf" target="_blank"> <span [smSvgIcon]="'download'"></span>pdf</a>

          </div>
        </div>
        <app-each-section-exp [data]="data"></app-each-section-exp>
      </div>
      <div class="skill-section">
        <div class="image">
          <img src="../../../assets/images/my-image.png" alt="">
        </div>
        <ng-container *ngIf="skill.length">
          <app-each-section-skill
             *ngFor="let item of skill"
             [header]="item.header"
             [subHeader]="item?.subHeader"
             [description]="item?.description"
             [date]="item.date"
             [features]="item?.features"
             [lang]="item?.lang"
             [all]="item?.all"
          >
          </app-each-section-skill>
        </ng-container>
      </div>
    </div>
  </app-container>
</app-frame1>
