:host {
  display: flex;
  flex-direction: column;
  gap: calc(var(--content-margin));
  .each-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    h2 {
      font-size: var(--heading-2);
      font-weight: 400;
      border-bottom: 1px solid rgb(195, 191, 191);
      padding-bottom: 10px;
    }
    .header {
      font-size: var(--heading-3);
      padding-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        font-size: 16px;
      }
    }
    .sub-header {
      font-size: var(--heading-4);
      color:rgb(17, 141, 224);
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        font-size: 16px;
        color:rgb(47, 45, 45)
      }
    }
    .description {
      font-size: 16px;
      line-height: 1.3;
      margin-top: 10px;
      color: rgb(47, 45, 45);
    }

    .features {
      padding: 0;
      margin: 0 0 0 6px;
      list-style-type: circle;
      color: rgb(47, 45, 45);
      margin-bottom: 20px;
      li {
        margin: 6px 12px;
      }
    }
  }
}

