:host {
  display: block;
  .skill {
    display: flex;
    flex-direction: column;
    gap: 9px;
    .header {
      font-size: var(--heading-2);
      padding-bottom: 6px;
      border-bottom: 1px solid #fff;
      font-weight: 400;
    }
    .sub-header {
      font-size: 20px;
      line-height: 1.1;
      font-weight: 400;
    }
    .description {
      font-size: 16px;
      line-height: 1.1;
    }
    .date {
      font-size: 16px;
      font-style: italic;
    }
    .language {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .marking {
        display: flex;
        justify-content: space-around;
        gap: 3px;
        .mark {
          height: 5px;
          width: 5px;
          background-color: #fff;
          border-radius: 50%;
        }
        .deem {
          background-color: #7c7878;

        }
      }
    }
    .courses {
      margin-bottom: 16px;
      .institute {
        font-size: 20px;
        margin-bottom: 6px;
      }
      .description {
        font-size: 16px;
        margin-bottom: 6px;
        line-height: 1.3;
      }
      .date {
        font-style: italic;
      }
    }
    .features {
      padding: 0;
      margin: 0 0 0 6px;
      margin-bottom: 20px;
      li {
        margin: 6px 12px;
      }
    }
  }
}
