:host {
  display: block;
  .skill {
    display: flex;
    flex-direction: column;
    gap: 9px;
    .header {
      font-size: 30px;
      padding-bottom: 6px;
      border-bottom: 1px solid #fff;
      font-weight: 400;
    }
    .sub-header {
      font-size: 20px;
      line-height: 1.1;
      font-weight: 400;
    }
    .description {
      font-size: 16px;
      line-height: 1.1;
    }
    .date {
      font-size: 16px;
      font-style: italic;
    }
    .language {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .marking {
        display: flex;
        justify-content: space-around;
        gap: 3px;
        .mark {
          height: 5px;
          width: 5px;
          background-color: #fff;
          border-radius: 50%;
        }
        .deem {
          background-color: #7c7878;

        }
      }
    }
  }
}
