<div class="skill">
  <h4 *ngIf="header" class="header">{{ header }}</h4>
  <p *ngIf="subHeader" class="sub-header">{{ subHeader }}</p>
  <p *ngIf="description" class="description">{{ description }}</p>
  <p *ngIf="date" class="date">{{ date }}</p>
  <ul class="features" *ngIf="features?.length">
    <li *ngFor="let item of features">{{item}}</li>
  </ul>
  <ng-container *ngIf="lang?.length">
    <div class="language" *ngFor="let item of lang">
      <span>{{item.name}}</span>
      <span>{{ item.type }}</span>
      <div class="marking">
        <div class="mark" [ngClass]="i<item.level? '' : 'deem'" *ngFor="let aaa of numSequence(); let i = index"></div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="all?.length">
    <div class="courses" *ngFor="let course of all">
      <p class="institute">{{ course.subHeader}}</p>
      <p class="description">{{ course.description}}</p>
      <p class="date">{{ course.date}}</p>
    </div>
  </ng-container>
</div>
